{% extends 'base/base.html' %}

{% block content %}
{% load static %}



<div class="inside-banner">
  <div class="container"><span class="pull-right"><a href="https://www.free-css.com/free-css-templates">Home</a> / About Us</span>
    <h2>About Us</h2>
  </div>
</div>
<div class="container">
  <div class="spacer">
    <div class="row">
      <div class="col-lg-8  col-lg-offset-2"><img src="/media/{{about.image}}" class="img-responsive thumbnail" alt="website template image">
        <h3>Business Background</h3>
        <p>{{about.business_background}}</p>
        <h3>Company Profile</h3>
        <p>{{about.company_profile}}</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}