{% extends 'base/base.html' %}
{% block title%}About{% endblock %}
{% block content %}
{% load static %}



<div class="inside-banner">
  <div class="container"><span class="pull-right"><a href="{% url 'home'%}">Home</a> / About Us</span>
    <h2>About Us</h2>
  </div>
</div>
<div class="container">
  <div class="spacer">
    <div class="row">
      <div class="col-lg-8  col-lg-offset-2"> 
        <div class="mydiv" >
          <img style=" height: auto; object-fit: cover;"  src="/media/{{about.image}}" class="img-responsive thumbnail" alt="upload company image">
        </div>
        
        <h3>Business Background</h3>
        {% if about %}
        <p>{{about.business_background}}</p>
        <h3>Company Profile</h3>
        <p>{{about.company_profile}}</p>
        {% else %}
        <p>You can add business background using admin panel ......</p>
        <h3>Company Profile</h3>
        <p>Here add about company profile </p>
        {% endif %}

      </div>
    </div>
  </div>
</div>


{% endblock %}