{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<style>
  

  .mydiv-main{
      display: flex;
      flex-direction: column;
      background-color: aliceblue;
      padding: 1rem;
  }
  
  
</style>

<div>
  <div id="slider" class="sl-slider-wrapper">
    <div class="sl-slider">
      <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
        <div class="sl-slide-inner">
          <div><img src="{% static 'assets/images/a.jpg' %}" style="width:100%; height: 100%; object-fit:cover;" alt=""></div>
          <h2><a href="https://www.free-css.com/free-css-templates">2 Bed Rooms and 1 Dinning Room Aparment on Sale</a></h2>
          <blockquote>
            <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
            <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
            <cite>$ 20,000,000</cite></blockquote>
        </div>
      </div>
      <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
        <div class="sl-slide-inner">
          <div><img src="{% static 'assets/images/b.jpg' %}" style="width:100%; height: 100%; object-fit:cover;"alt=""></div>
          <h2><a href="https://www.free-css.com/free-css-templates">2 Bed Rooms and 1 Dinning Room Aparment on Sale</a></h2>
          <blockquote>
            <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
            <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
            <cite>$ 20,000,000</cite></blockquote>
        </div>
      </div>
      <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
        <div class="sl-slide-inner">
          <div><img src="{% static 'assets/images/c.jpg' %}" style="width:100%; height: 100%; object-fit:cover;"alt=""></div>
          <h2><a href="https://www.free-css.com/free-css-templates">2 Bed Rooms and 1 Dinning Room Aparment on Sale</a></h2>
          <blockquote>
            <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
            <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
            <cite>$ 20,000,000</cite></blockquote>
        </div>
      </div>
      <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
        <div class="sl-slide-inner">
          <div><img src="{% static 'assets/images/d.jpg' %}" style="width:100%; height: 100%; object-fit:cover;" alt=""></div>
          <h2><a href="https://www.free-css.com/free-css-templates">2 Bed Rooms and 1 Dinning Room Aparment on Sale</a></h2>
          <blockquote>
            <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
            <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
            <cite>$ 20,000,000</cite></blockquote>
        </div>
      </div>
      <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
        <div class="sl-slide-inner">
          <div><img src="{% static 'assets/images/e.jpg' %}" style="width:100%; height: 100%; object-fit:cover;"alt=""></div>
          <h2><a href="https://www.free-css.com/free-css-templates">2 Bed Rooms and 1 Dinning Room Aparment on Sale</a></h2>
          <blockquote>
            <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
            <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
            <cite>$ 20,000,000</cite></blockquote>
        </div>
      </div>
    </div>
    <nav id="nav-dots" class="nav-dots"><span class="nav-dot-current"></span> <span></span> <span></span> <span></span> <span></span></nav>
  </div>
</div>
<div class="banner-search">
  <div class="container">
    <h3>Buy, Sale &amp; Rent</h3>
    <div class="searchbar">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          {% if s == 'newcars' %}
          <form action="{% url 'usedcars' %}" method="get">
          {% else %}
          <form action="" method="get">
          {% endif %}
            {% csrf_token %}
            <input type="text" class="form-control" name="search" value="{{search}}" placeholder="Search of Cars">
            <div class="row">
              <div class="col-lg-3 col-sm-3">
                <select class="form-control" name="type">
                  <option value = "New">New</option>
                  <option value = "Used">Used</option>
                </select>
              </div>
              <div class="col-lg-3 col-sm-4">
                <select name="price"  class="form-control"   style="margin-left: auto;">
                    <option disabled selected hidden>Price</option>
                    <option value="500000"  {% if price == '500000' %}selected{% endif %}  >less than 5Lakh</option>
                    <option value="1000000" {% if price == '1000000' %}selected{% endif %}>less than 10Lakh</option>
                    <option  value="2000000" {% if price == '2000000' %}selected{% endif %}>less than 20Lakh</option>
                    <option  value="5000000" {% if price == '5000000' %}selected{% endif %}>less than 50Lakh</option>
                </select>
              </div>
              <div class="col-lg-3 col-sm-4">
                <select name="body_type" class="form-control"  style="margin-left: auto;">
                  <option  disabled selected hidden>Body Type</option>
                  <option value="sedan" {% if body_type == 'sedan' %}selected{% endif %}>Sedan</option>
                  <option value="SUV" {% if body_type == 'SUV' %}selected{% endif %} >SUV</option>
                  <option  value="coupe" {% if body_type == 'coupe' %}selected{% endif %} >Coupe</option>
                  <option  value="MUV" {% if body_type == 'MUV' %}selected{% endif %} >MUV</option>
              </select>
              </div>
              <div class="col-lg-3 col-sm-4">
                <button class="btn btn-success" type="submit">Find Now</button>
              </div>
            </div>
          </form>
        </div>
        {% if user.is_authenticated %}
        <div class="col-lg-5 col-lg-offset-1 col-sm-6">
          <p>Welcome {{user.first_name}} thanks for visiting.</p>
          <button class="btn btn-info"> <a href="{% url 'newcars'%}">Explore Cars</a> </button>
        </div>
        {% else %}
        <div class="col-lg-5 col-lg-offset-1 col-sm-6">
          <p>Join now and get updated with all the properties deals.</p>
          <button class="btn btn-info" data-toggle="modal" data-target="#loginpop">Login</button>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="new-cars spacer">
    <a href="{% url 'newcars' %}" class="pull-right viewall">View All Listing</a>
    <h2>Featured New Cars</h2>
    
      <div id="owl-example" class="owl-carousel" >
        {% for car in cars %}
        <div class="mydiv-main">
          <div class="mydiv-inner">
              <div class="mydiv-img"><img src="/media/{{car.image_1}}" width="300" height="168" class="img-responsive"
                      alt="website template image">
              </div>
              <div class="status sold">{{car.owner}}</div>
          </div>
          <div class="mydiv-inner-1">
              <h4><a href="property-detail.html">{{car.brand}}</a></h4>
              <h2 style="font-size: small;">{{car.model}}</h2>
              <p class="price">{{car.exshowroom_price}}</p>
              <a class="btn btn-primary" href="{% url 'details' car.id %}">View Details</a>
          </div>
      </div>
        {% endfor %}
      
    </div>
    
  </div>
  <div class="used-cars spacer"><a href="{% url 'usedcars' %}" class="pull-right viewall">View All Listing</a>
    <h2>Featured Used Cars</h2>
    <div id="owl-example-1" class="owl-carousel">
      {% for usedcar in usedcars %}
  
      <div class="mydiv-main">
        <div class="mydiv-inner">
            <div class="mydiv-img"><img src="/media/{{usedcar.image_1}}" width="300" height="168" class="img-responsive"
                    alt="website template image">
            </div>
            <div class="status sold">{{usedcar.user}}</div>
        </div>
        <div class="mydiv-inner-1">
            <h4><a href="property-detail.html">{{usedcar.brand}}</a></h4>
            <h2 style="font-size: small;">{{usedcar.model}}</h2>
            <p class="price">{{usedcar.exshowroom_price}}</p>
            <a class="btn btn-primary" href="{% url 'useddetails' usedcar.id %}">View Details</a>
        </div>
    </div>
      {% endfor %}
    </div>
  </div>
  <br>
  <br>
  <br> 
  <div class="spacer">
    <div class="row">
      <div class="col-lg-6 col-sm-9 recent-view">
        <h3>About Us</h3>
        <p>{{about.business_background}}<br>
          <a href="{% url 'about' %}">Learn More</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-1 col-sm-3 recommended">
        <h3>Recommended Properties</h3>
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
          {% for car in cars|slice:":4" %}
            {% if car.id == 1 %} 
            <div class="item active">
              <div class="row" style="display: flex;">
                <div class="col-lg-6" style= "height:160px;">
                  <img style=" object-fit:cover;" src="/media/{{car.image_1}}" width="230" height="140" alt="website template image">
                </div>
                <div class="col-lg-6" style="height: 160px;">
                  <h5><a href="property-detail.html">{{car.brand}}</a></h5>
                  <p class="price">{{car.exshowroom_price}}</p>
                  <a href="{% url 'details' car.id %}" class="more">More Detail</a></div>
              </div>
            </div>
            {% elif car.id == 3 %} 
            <div class="item">
              <div class="row" style="display: flex;">
                <div class="col-lg-6" style= "height:160px;">
                  <img style=" object-fit:cover;"  src="/media/{{car.image_1}}" width="230" height="140" alt="website template image">
                </div>
                <div class="col-lg-8">
                  <h5><a href="property-detail.html">{{car.brand}}</a></h5>
                  <p class="price">{{car.exshowroom_price}}</p>
                  <a href="{% url 'details' car.id %}" class="more">More Detail</a></div>
              </div>
            </div>
            {% elif car.id == 2 %} 
            <div class="item">
              <div class="row" style="display: flex;">
                <div class="col-lg-6" style= "height:160px;">
                  <img style=" object-fit:cover;"  src="/media/{{car.image_1}}" width="230" height="140"  alt="website template image">
                </div>
                <div class="col-lg-8">
                  <h5><a href="property-detail.html">{{car.brand}}</a></h5>
                  <p class="price">{{car.exshowroom_price}}</p>
                  <a href="{% url 'details' car.id %}" class="more">More Detail</a></div>
              </div>
            </div>
            {% elif car.id == 4 %} 
            <div class="item">
              <div class="row" style="display: flex;">
                <div class="col-lg-6" style= "height:160px;">
                  <img style=" object-fit:cover;"  src="/media/{{car.image_1}}" width="230" height="140"   alt="website template image">
                </div>
                <div class="col-lg-8">
                  <h5><a href="property-detail.html">{{car.brand}}</a></h5>
                  <p class="price">{{car.exshowroom_price}}</p>
                  <a href="{% url 'details' car.id %}" class="more">More Detail</a></div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}