{% extends 'base/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
<div class="inside-banner">
    <div class="container"><span class="pull-right"><a href="{% url 'home' %}">Home</a> /
            <a href="{% url 'newcars' %}">New Cars</a></span>
        <h2>New Cars </h2>
    </div>
</div>

<div class="container">
    <div class="properties-listing spacer">
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <div class="search-form">
                    <h4><span class="glyphicon glyphicon-search"></span> Search for</h4>
                    <form method="get">
                        <input type="text" class="form-control" name="search" value="{{search}}"  placeholder="Search of Car">
                        <div class="row">
                            <div class="col-lg-7">
                                <select name="milege" class="form-control"   style="margin-left: auto;">
                                    <option  disabled selected hidden>Milege</option>
                                    <option  value="15" {% if milege == '15' %}selected{% endif %} >less than 15</option>
                                    <option  value="20" {% if milege == '20' %}selected{% endif %} >less than 20</option>
                                    <option  value="25" {% if milege == '25' %}selected{% endif %} >less than 25</option>
                                </select>
                                
                            </div>
                            <div class="col-lg-8">
                                <select name="price"  class="form-control"   style="margin-left: auto;">
                                    <option disabled selected hidden>Price</option>
                                    <option value="500000"  {% if price == '500000' %}selected{% endif %}  >less than 5Lakh</option>
                                    <option value="1000000" {% if price == '1000000' %}selected{% endif %}>less than 10Lakh</option>
                                    <option  value="2000000" {% if price == '2000000' %}selected{% endif %}>less than 20Lakh</option>
                                    <option  value="5000000" {% if price == '5000000' %}selected{% endif %}>less than 50Lakh</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <select name="body_type" class="form-control"  style="margin-left: auto;">
                                    <option  disabled selected hidden>Body Type</option>
                                    <option value="sedan" {% if body_type == 'sedan' %}selected{% endif %}>Sedan</option>
                                    <option value="SUV" {% if body_type == 'SUV' %}selected{% endif %} >SUV</option>
                                    <option  value="coupe" {% if body_type == 'coupe' %}selected{% endif %} >Coupe</option>
                                    <option  value="MUV" {% if body_type == 'MUV' %}selected{% endif %} >MUV</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary"  name="my_btn" type="submit" >Find Now</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-9 col-sm-8">
                <div class="sortby clearfix">
                    <div class="pull-right">
                        <select name="sort" class="form-control" id="sort-list" onchange="location = finalurl();" style="margin-left: auto;">
                            <option value="" id="placeholder" disabled selected hidden>Sort</option>
                            <option class ="{{exshowroom_price}}" id="exshowroom_price" value="exshowroom_price" {% if sort == 'exshowroom_price' %}selected{% endif %} >Price: Low To High</option>
                            <option id="-exshowroom_price" value="-exshowroom_price">Price: High To Low</option>
                            <option id="product_name" value="product_name">Car Name</option>
                            <option id="-date_added" value="-date_added">What's New</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    {% for car in cars %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="/media/{{car.image_1}}" width="300" height="168"
                                    class="img-responsive" alt="website template image">
                                <div class="status sold">{{car.owner}}</div>
                            </div>
                            <h4><a href="property-detail.html">{{car.brand}}</a></h4>
                            <h2 style="font-size: small;">{{car.model}}</h2>
                            <p class="price">{{car.exshowroom_price}}</p>

                            <a class="btn btn-primary" href="{% url 'details' car.id %}">View Details</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% load cars_extras %}

<div class="page1">
    <span>
      {% if page_obj.has_previous %}
        <a href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
      {% endif %}
      <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
        <a href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
      {% endif %}
    </span>
  </div>
  <script>
    function get(name) {
        if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))  //location.search give query sling part
            return decodeURIComponent(name[1]);
    }

    if(get('ordering'))
    document.getElementById('placeholder').innerHTML = "Sort: " + document.getElementById(get('ordering')).innerHTML;
    

    function finalurl() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('ordering', document.getElementById("sort-list").value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url
    }
  
  </script>
{% endblock %}