{% extends 'base/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
<div class="inside-banner">
    <div class="container"><span class="pull-right"><a href="https://www.free-css.com/free-css-templates">Home</a> /
            Buy, Sale &amp; Rent</span>
        <h2>Buy, Sale &amp; Rent</h2>
    </div>
</div>

<div class="container">
    <div class="properties-listing spacer">
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <div class="search-form">
                    <h4><span class="glyphicon glyphicon-search"></span> Search for</h4>
                    <form action="#" method="post">
                        <input type="text" class="form-control" placeholder="Search of Car">
                        <div class="row">
                            <div class="col-lg-5">
                                <select name="milege" class="form-control" id="milege" onchange="location = finalurl4();" style="margin-left: auto;">
                                    <option value="" id="price-placeholder" disabled selected hidden>Price</option>
                                    <option id="ml10" value="15">less than 15</option>
                                    <option id="ml15" value="20">less than 20</option>
                                    <option id="ml2o" value="25">less than 25</option>
                                </select>
                                
                            </div>
                            <div class="col-lg-7">
                                <select name="exshowroom_price" class="form-control" id="price-list" onchange="location = finalurl2();" style="margin-left: auto;">
                                    <option value="" id="price-placeholder" disabled selected hidden>Price</option>
                                    <option id="pr5Lakh" value="500000">less than 5Lakh</option>
                                    <option id="pr10Lakh" value="1000000">less than 10Lakh</option>
                                    <option id="pr20Lakh" value="2000000">less than 20Lakh</option>
                                    <option id="pr50Lakh" value="5000000">less than 50Lakh</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <select name="sort" class="form-control" id="body-type" onchange="location = finalurl3();" style="margin-left: auto;">
                                    <option value="" id="placeholder" disabled selected hidden>Body Type</option>
                                    <option id="sedan" value="sedan">Sedan</option>
                                    <option id="SUV" value="SUV">SUV</option>
                                    <option id="Coupe" value="coupe">Coupe</option>
                                    <option id="Convertible" value="MUV">MUV</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary">Find Now</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-9 col-sm-8">
                <div class="sortby clearfix">
                    <div class="pull-right">
                        <select name="sort" class="form-control" id="sort-list" onchange="location = finalurl();" style="margin-left: auto;">
                            <option value="" id="placeholder" disabled selected hidden>Sort</option>
                            <option id="exshowroom_price" value="exshowroom_price">Price: Low To High</option>
                            <option id="-exshowroom_price" value="-exshowroom_price">Price: High To Low</option>
                            <option id="product_name" value="product_name">Car Name</option>
                            <option id="-date_added" value="-date_added">What's New</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    {% for car in cars %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="/media/{{car.image_1}}" width="300" height="168"
                                    class="img-responsive" alt="website template image">
                                <div class="status sold">{{car.owner}}</div>
                            </div>
                            <h4><a href="property-detail.html">{{car.brand}}</a></h4>
                            <h2 style="font-size: small;">{{car.model}}</h2>
                            <p class="price">{{car.exshowroom_price}}</p>

                            <a class="btn btn-primary" href="{% url 'details' car.id %}">View Details</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page1">
    <span>
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </span>
  </div>
  <script>

    function get(name) {
        if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))  //location.search give query sling part
            return decodeURIComponent(name[1]);
    }

    if(get('ordering'))
    document.getElementById('placeholder').innerHTML = "Sort: " + document.getElementById(get('ordering')).innerHTML;
    

    function finalurl() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('ordering', document.getElementById("sort-list").value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url
    }

    // for getting url after applying price filtering
    function finalurl2() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('exshowroom_price', document.getElementById("price-list").value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url
    }

    function finalurl3() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('body_type', document.getElementById("body-type").value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url
    }

    function finalurl4() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('milege', document.getElementById("milege").value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url
    }
  </script>
{% endblock %}