{% extends 'base/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
<div class="inside-banner">
    <div class="container"><span class="pull-right"><a href="https://www.free-css.com/free-css-templates">Home</a> /
            Buy, Sale &amp; Rent</span>
        <h2>Buy, Sale &amp; Rent</h2>
    </div>
</div>

<div class="container">
    <div class="properties-listing spacer">
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <div class="search-form">
                    <h4><span class="glyphicon glyphicon-search"></span> Search for</h4>
                    <form action="#" method="post">
                        <input type="text" class="form-control" placeholder="Search of Properties">
                        <div class="row">
                            <div class="col-lg-5">
                                <select name="buy year" class="form-control" id="buy-year" onchange="location = finalurl4();" style="margin-left: auto;">
                                    <option value="" id="price-placeholder" disabled selected hidden>Buy Year</option>
                                    <option id="ml10" value="2015">2015</option>
                                    <option id="ml15" value="2016">2016</option>
                                    <option id="ml2o" value="2017">2017</option>
                                    <option id="ml2o" value="2018">2018</option>
                                    <option id="ml2o" value="2019">2019</option>
                                    <option id="ml2o" value="2020">2020</option>
                                    <option id="ml2o" value="2021">2021</option>
                                    <option id="ml2o" value="2022">2022</option>
                                    <option id="ml2o" value="2023">2023</option>
                                </select>
                            </div>
                            <div class="col-lg-7">
                                <select name="price" class="form-control" id="price-list" onchange="location = finalurl2();" style="margin-left: auto;">
                                    <option value="" id="price-placeholder" disabled selected hidden>Price</option>
                                    <option id="pr5Lakh" value="500000">less than 5Lakh</option>
                                    <option id="pr10Lakh" value="1000000">less than 10Lakh</option>
                                    <option id="pr20Lakh" value="2000000">less than 20Lakh</option>
                                    <option id="pr50Lakh" value="5000000">less than 50Lakh</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <select name="Kilometer" class="form-control" id="km-run" onchange="location = finalurl3();" style="margin-left: auto;">
                                    <option value="" id="placeholder" disabled selected hidden>Kilometer Run</option>
                                    <option id="demand" value="50000">less than 50000</option>
                                    <option id="-demand" value="100000">less than 100000</option>
                                    <option id="product_name" value="200000">less than 200000</option>
                                    <option id="-date_added" value="500000">less than 500000</option>
                                </select>    
                            </div>
                        </div>
                        <button class="btn btn-primary">Find Now</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-9 col-sm-8">
                <div class="sortby clearfix">
                    <div class="pull-right">
                        <form action="#" method="post">
                            <select name="sort" class="form-control" id="sort-list" onchange="location = finalurl();" style="margin-left: auto;">
                                <option value="" id="placeholder" disabled selected hidden>Sort</option>
                                <option id="demand" value="demand">Price: Low To High</option>
                                <option id="-demand" value="-demand">Price: High To Low</option>
                                <option id="product_name" value="product_name">Car Name</option>
                                <option id="-date_added" value="-date_added">What's New</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="row">
                    {% for car in cars %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="/media/{{car.image_1}}" width="300" height="168"
                                    class="img-responsive" alt="website template image">
                                <div class="status sold">{{car.owner}}</div>
                            </div>
                            <h4><a href="property-detail.html">{{car.brand}}</a></h4>
                            <h2 style="font-size: small;">{{car.model}}</h2>
                            <p class="price">{{car.demand}}</p>

                            <a class="btn btn-primary" href="{% url 'useddetails' car.id %}">View Details</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page1">
    <span>
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </span>
  </div>
  <script>

    function get(name) {
        if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))  //location.search give query sling part
            return decodeURIComponent(name[1]);
    }

    if(get('ordering'))
    document.getElementById('placeholder').innerHTML = "Sort: " + document.getElementById(get('ordering')).innerHTML;
    
    if(get('price'))
    document.getElementById('price-placeholder').innerHTML = "Price: " + document.getElementById('pr'+get('exshowroom_price')).innerHTML;

    function finalurl() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('ordering', document.getElementById("sort-list").value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url
    }

    // for getting url after applying price filtering
    function finalurl2() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('price', document.getElementById("price-list").value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url
    }

    function finalurl3() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('kilometer_run', document.getElementById("km-run").value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url
    }

    function finalurl4() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('buy_year', document.getElementById("buy-year").value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url
    }
  </script>
{% endblock %}