{% extends "base/base.html" %}

{% block content %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <div class="col-lg-6 col-sm-6">
            <form action="{% url 'password_reset_complete' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="mail" value="{{mail}}">
                    <label for="password">New Password</label> 
                    <input type="text" name="password" value="{{password}}" placeholder="Please Enter New Password" required> 
                </div>
                <div class="form-group">
                    <label for="password1">Confirm Password</label> 
                    <input type="text" name="password1" value="{{password1}}" placeholder="Confirm Password" required>  
                </div>               
                              
                <button class="btn btn-primary" type="submit">Reset password</button>
            </form>
        </div>
       
    </div>

{% endblock %}