{% extends 'base/base.html' %}


{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Password reset sent</h2>
		<hr>
		<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        <form action="{% url 'password_reset_confirm' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="mail" value="{{mail}}">
            <label for="otp">One Time Password</label>
            <input type="number" name="otp", value="{otp}">
            <button type="submit">Submit</button>
        </form>
  </div>

{% endblock %}