{% extends 'base/base.html' %}
{%load static%}

{% block content %}
    <!-- <style>
      *{
          margin-right: 5rem;
          margin-left: 5rem;
      }
      label{
          margin: 0rem;
      }
      button{
          margin-left: 5rem;
      }
  </style> -->
</head>
<body>
  
<h1 style="text-align: center;" >Sign Up</h1>
  <div style="display: flex; justify-content: center;">
    <form id="signupform" action="" method="post" style="width: 300px; line-height: 6px;">
      {% csrf_token %}
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" name="first_name"
          placeholder="Enter First Name" required>
      </div>
  
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp" name="last_name"
          placeholder="Enter Last Name">
      </div>
  
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
          placeholder="Enter email" required>
      </div>
  
      <div class="form-group">
        <label for="mobile">Phone Number</label>
        <input type="number" class="form-control"  aria-describedby="emailHelp" name="mobile"
          placeholder="Enter Phone Number" required>
      </div>
  
      <div class="form-group" id="add">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" aria-describedby="emailHelp" name="address"
          placeholder="Enter Address here" onclick="getLocation()">
        <input type="hidden" name="latitud" id="latitude" >
        <input type="hidden" name="longitud" id="longitude" >
      </div>
      <div class="form-group">
        <label for="id_password1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password1" placeholder="Password"
          required>
      </div>
      <div class="form-group">
        <label for="id_password2">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" name="password2" placeholder="Password"
          required>
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <br>
  <br>
  <br>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    
    function showPosition(position) {
      latitud = position.coords.latitude;
      longitud = position.coords.longitude;
      document.getElementById('latitude').value = latitud;
      document.getElementById('longitude').value = longitud;
      
  
      
      dataToSend = {
        "latitude": position.coords.latitude,
        "longitude": position.coords.longitude,
      };

      $.ajax({
        type: "GET",
        dataType: 'json',
        url: "{% url 'register' %}",
        data:dataToSend,
        
        success: function (response) {  
          console.log(response.address)
          data = response.address
          $("#add, input").empty()
          $("#add").append(
            `<label for="address">Address</label>
            <input type="text" class="form-control" id="address"  name="address"
             placeholder="Enter Address here" value="${data}" >
            `
          )
        },
        error: function (err) {
          console.log('Error!');
        }
      });
    }
    
  </script> 


    
{% endblock %}