{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- cropper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css">

<style>
    .not-visible{
        display: none;
    }
</style>

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css"> -->
<div class="alert-box" id="alert-box"></div>
<div id="image-box" class="mb-3"></div>
<form action="" id="image-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="user_image">User Image</label>
        <input type="file"   name="user_image" id="id_file" >       
    </div>
</form>
<button class="btn btn-primary mt-3 not-visible" id="confirm-btn">Confirm</button>


<!-- <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'node_modules/cropperjs/dist/cropper.min.css' %}"></script>
<script src="{% static 'node_modules/cropperjs/dist/cropper.min.js' %}"></script>
<script src="{% static 'node_modules/jquery-cropper/dist/jquery-cropper.js' %}"></script> -->
<script src="{% static 'assets/js/crop.js' %}"></script> 




{% endblock %}