{% extends 'base/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
<div class="inside-banner">
    <div class="container"><span class="pull-right"><a href="{% url 'home' %}">Home</a> /
            <a href="{% url 'usedcars' %}">reset filters</a></span>
        <h2>Buy,  &amp; Sale</h2>
    </div>
</div>

<div class="container">
    <div class="properties-listing spacer">
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <div class="search-form">
                    <h4><span class="glyphicon glyphicon-search"></span> Search for</h4>
                    <form  method="get">
                        <input type="text" class="form-control" name="usedsearch" placeholder="Search of cars">
                        <div class="row">
                            <div class="col-lg-5">
                                <select name="buy year" class="form-control"  style="margin-left: auto;">
                                    <option  disabled selected hidden>Buy Year</option>
                                    <option  value="2015">2015</option>
                                    <option  value="2016">2016</option>
                                    <option  value="2017">2017</option>
                                    <option  value="2018">2018</option>
                                    <option  value="2019">2019</option>
                                    <option  value="2020">2020</option>
                                    <option  value="2021">2021</option>
                                    <option  value="2022">2022</option>
                                    <option  value="2023">2023</option>
                                </select>
                            </div>
                            <div class="col-lg-7">
                                <select name="price" class="form-control"  style="margin-left: auto;">
                                    <option  disabled selected hidden>Price</option>
                                    <option  value="500000">less than 5Lakh</option>
                                    <option  value="1000000">less than 10Lakh</option>
                                    <option  value="2000000">less than 20Lakh</option>
                                    <option  value="5000000">less than 50Lakh</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <select name="kilometer_run" class="form-control" style="margin-left: auto;">
                                    <option  disabled selected hidden>Kilometer Run</option>
                                    <option  value="50000">less than 50000</option>
                                    <option  value="100000">less than 100000</option>
                                    <option  value="200000">less than 200000</option>
                                    <option  value="500000">less than 500000</option>
                                </select>    
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Find Now</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-9 col-sm-8">
                <div class="sortby clearfix">
                    <div class="pull-right">
                        <select name="sort" class="form-control" id="sort-list" onchange="location = finalurl();" style="margin-left: auto;">
                            <option value="" id="placeholder" disabled selected hidden>Sort</option>
                            <option id="demand" value="demand">Price: Low To High</option>
                            <option id="-demand" value="-demand">Price: High To Low</option>
                            <option id="usedcar_name" value="usedcar_name">Car Name</option>
                            <option id="-date_added" value="-date_added">What's New</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    {% for car in cars %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="/media/{{car.image_1}}" width="300" height="168"
                                    class="img-responsive" alt="website template image">
                                <div class="status sold">{{car.user.first_name}}</div>
                            </div>
                            <h4><a href="property-detail.html">{{car.brand}}</a></h4>
                            <h2 style="font-size: small;">{{car.model}}</h2>
                            <p class="price">{{car.demand}}</p>
                            <div style="display: flex; gap: 1rem;">
                                <a class="btn btn-primary" style="font-size: large;" href="{% url 'useddetails' car.id %}">View Details</a>
                                <form action="{% url 'add-to-wishlist' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="car-id" value="{{car.id}}">
                                    <button style="background-color: blue; color: azure;"  type="submit">Add to Wishlist</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% load cars_extras %}

<div class="page1">
    <span>
      {% if page_obj.has_previous %}
        <a href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
      {% endif %}
      <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
        <a href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
      {% endif %}
    </span>
  </div>
  <script>

    function get(name) {
        if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))  //location.search give query sling part
            return decodeURIComponent(name[1]);
    }

    if(get('ordering'))
    document.getElementById('placeholder').innerHTML = "Sort: " + document.getElementById(get('ordering')).innerHTML;
    
    if(get('price'))
    document.getElementById('price-placeholder').innerHTML = "Price: " + document.getElementById('pr'+get('exshowroom_price')).innerHTML;

    function finalurl() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('ordering', document.getElementById("sort-list").value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url
    }

    
  </script>
{% endblock %}