{% extends 'base/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
<div class="inside-banner">
    <div class="container"><span class="pull-right"><a href="{% url 'home' %}">Home</a> /
            <a href="{% url 'usedcars' %}">Used Cars</a></span>
        <h2>Used Cars</h2>
    </div>
</div>

<div class="container">
    <div class="properties-listing spacer">
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <div class="search-form">
                    <h4><span class="glyphicon glyphicon-search"></span> Search for <a style="margin-left: 5rem;" href="{% url 'usedcars' %}">Reset</a></h4>


                    <form  method="get" id="UsedCarForm" data-cities-url="{% url 'ajax_load_cities' %}">
                        <input type="text" class="form-control" name="usedsearch" value="{{search}}" id="search" placeholder="Search of cars">
                        <div class="row">
                            <div class="col-lg-5">
                                <select id="states" name="states" class="form-control"  style="margin-left: auto;">
                                    <option  disabled selected hidden>State</option>
                                    {% for state in states %}
                                    <option id="{{state.id}}" value="{{state}}" {% if state.states == stateval %} selected {% endif %}>{{state}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-7">
                                <select name="price" id="price" class="form-control"  style="margin-left: auto;">
                                    <option  disabled selected hidden>Price</option>
                                    <option  value="500000" {% if price == '500000' %}selected{% endif %}>less than 5Lakh</option>
                                    <option  value="1000000" {% if price == '1000000' %}selected{% endif %}>less than 10Lakh</option>
                                    <option  value="2000000" {% if price == '2000000' %}selected{% endif %}>less than 20Lakh</option>
                                    <option  value="5000000" {% if price == '5000000' %}selected{% endif %}>less than 50Lakh</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <select name="cities" id="cities" class="form-control" style="margin-left: auto;">
                                    <option  disabled selected hidden>City</option>
                                </select>    
                            </div>
                        </div>
                        <button class="btn btn-primary"  onmouseover="getvalue()">Find Now</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-9 col-sm-8">
                <div class="sortby clearfix">
                    <div class="pull-right">
                        <select name="sort" class="form-control" id="sort-list" onchange="location = finalurl();" style="margin-left: auto;">
                            <option value="" id="placeholder" disabled selected hidden>Sort</option>
                            <option id="demand" value="demand">Price: Low To High</option>
                            <option id="-demand" value="-demand">Price: High To Low</option>
                            <!-- <option id="usedcar_name" value="usedcar_name">Car Name</option>
                            <option id="-date_added" value="-date_added">What's New</option> -->
                        </select>
                    </div>
                </div>
                <div class="row" id="carsid">
                    {% for car in cars %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="properties">
                            <div class="image-holder"><img src="/media/{{car.image_1}}" width="300" height="168"
                                    class="img-responsive" alt="website template image">
                                <div class="status sold">{{car.user.first_name}}</div>
                            </div>
                            <h4><a href="property-detail.html">{{car.brand}}</a></h4>
                            <h2 style="font-size: small;">{{car.model}}</h2>
                            <p class="price">{{car.demand}}</p>
                            <div style="display: flex; gap: 1rem;">
                                <a class="btn btn-primary" style="font-size: large;" href="{% url 'useddetails' car.id %}">View Details</a>
                                
                                
                                {% if request.user != car.user %}
                                <form action="{% url 'add-to-wishlist' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="car-id" value="{{car.id}}">
                                    <button style="background-color: blue; color: azure;"  type="submit">Add to Wishlist</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% load cars_extras %}

<div class="page1">
    <span>
      {% if page_obj.has_previous %}
        <a href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
      {% endif %}
      <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
        <a href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
      {% endif %}
    </span>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#states").change(function () {
      var url = $("#UsedCarForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var stateId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'states': stateId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#cities").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

  <script type="text/javascript">
    $(document).on('submit', '#UsedCarForm', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'GET',
            url: '{% url "usedcars" %}',
            data:
            {
                usedsearch: $("#search").val(),
                states: $("#states").val(),
                price: $("#price").val(),
                cities: $("#cities").val(),

            },
            
            success: function (response) {
                console.log(response.cars)
                // alert('Saved');
                data = response.cars
               
                $('#carsid').empty()

                for(i=0;i< data.length;i++){
                    console.log(i)
                
                    // $("#carsid").html(data); 
                    $('#carsid ').append ( 
                        `
                        <div class="col-lg-4 col-sm-6">
                            <div class="properties">
                                <div class="image-holder"><img src="/media/${data[i].image_1}" width="300" height="168"
                                    class="img-responsive" alt="website template image">
                                    <div class="status sold">${data[i].first_name}</div>
                                </div>
                                <h4><a href="property-detail.html">${data[i].brand_name}</a></h4>
                                <h2 style="font-size: small;">${data[i].model}</h2>
                                <p class="price">${data[i].demand}</p>
                                <div style="display: flex; gap: 1rem;">
                                    <a class="btn btn-primary" style="font-size: large;" href="/cars/usedcars/${data[i].car_id}" >View Details</a>

                                    <div id='content' style='display:none;'>
                                        <input type="text" id ="logged_user" value="${data[i].logged_user == 'so' ? 'yes' : 'no'}">
                                        <input type="text" id ="user" value="${data[i].user}">
                                    </div>
                                    
                                    <form action="{% url 'add-to-wishlist' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="car-id" value="{{car.id}}">
                                        <button style="background-color: blue; color: azure;"  type="submit">Add to Wishlist</button>
                                    </form>
                            
                                      
                                </div>
                            </div>
                        </div>
                        `
                    )
                }
                
            }
        })
    });

    function getvalue(){
        var user = document.getElementById('user').value;
        var loguser = document.getElementById('logged_user').value;
        console.log(user)
        console.log(loguser)
        if( user != loguser){
            document.getElementById("con").innerHTML +=
            `
            <form action="{% url 'add-to-wishlist' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="car-id" value="{{car.id}}">
                <button style="background-color: blue; color: azure;"  type="submit">Add to Wishlist</button>
            </form>
            `
        }
    }
    

    

</script> 
  <script>

    function get(name) {
        if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))  //location.search give query sling part
            return decodeURIComponent(name[1]);
    }

    if(get('ordering'))
    document.getElementById('placeholder').innerHTML = "Sort: " + document.getElementById(get('ordering')).innerHTML;
    
    if(get('price'))
    document.getElementById('price-placeholder').innerHTML = "Price: " + document.getElementById('pr'+get('exshowroom_price')).innerHTML;

    function finalurl() {
        var url = new URL(window.location.href);
        var search_params = url.searchParams;
        search_params.set('ordering', document.getElementById("sort-list").value);
        url.search = search_params.toString();
        var new_url = url.toString();
        return new_url
    }

    
  </script>
{% endblock %}